body {
    font-family: 'Lato', sans-serif;
}
h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;

}
h1{
	text-align:center;
}
h2{
	text-align:center;
	background: snow;
}
#img1{
    border:0;
    float:left;
    left:10px;
    margin: 15px 15px 15px 0px;
}
#img2{
    width:220px;
    height:218px;
}
#img2:hover{
  background: #777;
}
#img4{
	width:100%;
    height:580px;
	margin-left: auto;
    margin-right: auto
	display: block;
	position: relative;
}
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h3{ 
   text-align: center;
   top: 200px; 
   left: 0; 
   width: 100%; 
}
.breadcrum{
	float:left;
    position:absolute;
    left:10px;
    padding-top: 10px;
    background: snow;
  }
ul{ 
	margin :0;
	padding :0;
}
li{
	list-style:none;
}
body{
    background: #f1f1f1;
     margin: 0;
 }
header{
	width: 100%;
	height: 700px;
	background: #fff;
	vertical-align: middle;
}
.mainbox{
	width: 100%; 
	max-width: 1100px;
}  
.trust ul{
  padding-left: 200px;
  list-style: none;
  background-color: #333;
  text-align: center;
  top:10px;
  padding: 0;
  text-decoration: none;
  margin: 0;
}
nav ul {
  padding-left: 200px;
  list-style: none;
  background-color: #333;
  text-align: center;
  top:10px;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
nav{
  width: 100%;
    text-align: center;
    background-color: #333;
   height:100px;
}
.trust li{
  float: left;
    margin: 100px;
    vertical-align:bottom;
    font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 160px;
}
nav li{
	float: left;
    margin: 20px;
    vertical-align:bottom;
    font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}
nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: #fff;

}
 nav  ul a:hover {
      background-color: peru;
      text-decoration: none;
    }
a{
	transition: .3s background-color;
	text-decoration: none;
}
.search:hover{
  border-color: red;
}
#box {
	    float: left;
	    height: 200px;
	    width: 200px;
	    margin: 20px;
	    padding: 30px;
	    border: solid;
	    border-radius: 10px;
	    background:azure;
	}
#box:hover{
	background: #DB7093;
	transition: .3s background-color;

}
footer{
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: snow;
  text-align: center;
}
p{
    text-indent: 50px;
    text-align: center;
    letter-spacing: 1px;
}
#input_img {
    position:absolute;
    top:38px;
    right:77px;
    width:24px;
    height:26px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: snow;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: peru;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #333}
li a .dropbtn {
    display: inline-block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 .dropdown:hover .dropbtn {
    background-color: peru;
}

li.dropdown {
    display: inline-block;
}
#carousel li {
    padding: 75px 0;
    color: #FFF;
    text-align: center;
}
.textimage { 
   position: relative; 
   width: 100%; /* for IE 6 */
}
 h4{ 
   position: absolute; 
   top: 10px; 
   left: 0; 
   width: 100%; 
}
h4 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
h4 span.spacer {
   padding:0 5px;
}
.inner>img{
        display: block;
        height: 250px;
        width: 250px;
        line-height: 1;
        margin:auto;
        width: 100%;

}
h2 {
  margin: 1em 0 0.5em 0;
  color: #343434;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;   
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 3px #777;
}
#boxtp{
      background:transparent;
      }       
#boxtp p{
      font-weight:bold;
      color:#000000;
      font-family:arial;
}

.search-container {
    max-width: 950px;
    margin: auto;
    padding-right: 10px;
}
.search {
    float: right;
  
  padding: 6px;
  margin-top: 35px;
  margin-right: -98px;
  color: #333;

    border-radius: 5px;
    border: 1px solid #ccc;
    width: 155px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.search:focus {
    width: 200px;
  }
 .trust ul li a img:hover {

        transform: scale(1.5);
        background-color: snow;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    }
            .containe {
            max-width: 50rem;
            margin-right: auto;
            margin-left: auto;
            padding: 2rem;
        }
.controls {
    padding: 1rem;
    background: #333;
    font-size: 0.1px;
}

.control {
    position: relative;
    display: inline-block;
    width: 2.7rem;
    height: 2.7rem;
    background: #444;
    cursor: pointer;
    font-size: 0.1px;
    color: white;
    transition: background 150ms;
}

.control:hover {
    background: #3f3f3f;
}

.control[data-filter]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    border: 2px solid currentColor;
    border-radius: 2px;
    background: currentColor;
    transition: background-color 150ms, border-color 150ms;
}

.control[data-sort]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform:  translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
    transform:  translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
    background: #393939;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
}

.control[data-filter] + .control[data-sort] {
    margin-left: .75rem;
}

.control[data-filter=".green"] {
    color: #91e6c7;
}

.control[data-filter=".blue"] {
    color: #5ecdde;
}

.control[data-filter=".pink"] {
    color: #d595aa;
}

.control[data-filter="none"] {
    color: #2f2f2f;
}

/* Container
---------------------------------------------------------------------- */

.container {
    padding: 1rem;
    text-align: justify;
    font-size: 0.1px;
}

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    border-top: .5rem solid currentColor;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}

.mix.green {
    color: #91e6c7;
}

.mix.pink {
    color: #d595aa;
}

.mix.blue {
    color: #5ecdde;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
    .mix,
    .gap{
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
    .mix,
    .gap{
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}





